.alive {
    display: block;
    width: 10px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
}

.dead {
    display: block;
    width: 10px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
    background:firebrick;
}

.unknown {
    display: block;
    width: 10px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
    background:darkgrey;
}

.cards {
    width: 23rem;
}

@media (max-width: 460px) {
    .cards {
        width: 20rem;
    }
    .imagee{
        width: 14rem !important;
        height: 14rem !important;
    }
}

